.fxml-nav-rc-o {
    position: absolute;
    top: 0;
    right: 0;
    background: #333;
    border-bottom: 5px #e4e4e4 solid;
}

.fxml-nav-rc-i {
    padding: 10px 32px 22px;
    padding-top: 0px;
}

.text-blue {
    color: #0093d9;
}

.font-13 {
    font-size: 12px;
}

.m-t-sm {
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .fxl-row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 992px) {
    .fxl-row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 768px) {
    .fxl-row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 576px) {
    .fxl-row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .fxl-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}
ul.fxml-nav-signal {
    list-style: none;
}
.text-white {
    color: #fff;
}
.m-n {
    margin: 0 !important;
}
.p-none {
    padding: 0px;
}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

element.style {
}
ul.fxml-nav-signal>li {
    float: left;
    line-height: 1;
    margin-top: 10px;
    font-weight: 200;
}
.fxl-col-lg-2 , .fxl-col-lg-3, .fxl-col-lg-4, .fxl-col-lg-1{
    margin-right: 7%;
}

div#fxml-sig-wdgt-0{
    width:max-content;
}
div#fxml-sig-wdgt-1{
    width:max-content;
}
